* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  transition: all 1s;
}

.App {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(213, 213, 213);
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.leftContainer,
.rightContainer {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}
